@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Maven+Pro&display=swap');

.general-container{
    height: 1000px;
}

#text-navbar{
    font-family: 'Maven Pro', sans-serif;
}

#text-navbar:hover{
    text-decoration: underline;
}

.hola{
    height: 500px;
}

.navbar-modi{
    background-color: #293241;
}

.identification{
    background-color: #293241;
    height: 50px;
}

#register-client:hover{
    text-decoration: underline;
}

.idr{
    text-decoration: none;
}

.idr:hover{
    text-decoration: underline;
}

.join-us{
    color: black;
    text-decoration: none;
}

.join-us:hover{
    color: black;
    text-decoration: underline;
}

.div-footer{
    background-color: #293241;
}

@media screen and (max-width:1181px){
    .newsletter{
        display: none;
    }

    .shortcuts{
        display: none;
    }

    .legal{
        display: none;
    }
}