.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.div-footer{
  background-color: #293241;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media screen and (max-width:768px){
  .logotipo{
    display: none;
  }

  .sign-out{
    margin-left: 280px;
  }
}

@media screen and (max-width:1181px){
  .newsletter{
      display: none;
  }

  .shortcuts{
      display: none;
  }

  .legal{
      display: none;
  }
}